<!DOCTYPE html>
<html lang="pt-br">

<%- include('./parciais/head.ejs') %>

<body>
    
    <%- include('./parciais/nav.ejs') %>

    <div class="conteudo-blog">
        <h2>Informações e Exemplos dos Nossos Serviços</h2>
    </div>

    <%- include('./parciais/footer.ejs') %>

</body>
</html>