<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
</head>

<body>
    
    <%- include('./parciais/nav.ejs') %>

      <div class="conteudo-blog">
        <h2>Informações e História da Empresa</h2>
    </div>

    <%- include('./parciais/footer.ejs') %>

</body>
</html>