<nav>
    <div class="titulo-site">
         <P>NOME DA EMPRESA</P>
       </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/sobrenos">Sobre Nós</a></li>
        <li><a href="/contatos">Contatos</a></li>

    </ul>
</nav>